# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\udaya\Desktop\java_projects\spring-cloud-gatway-hystrix-master\spring-cloud-gatway-hystrix-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
